<div class="page-header">
  <%= link_to new_block_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Block
  <% end %>
  <h1>Listing blocks</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Started at</th>
            <th>Ended at</th>
            <th>Task</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @blocks) do |block| %>
            <td><%= block.started_at %></td>
            <td><%= block.ended_at %></td>
            <td><%= block.task_id %></td>
            <td><%= link_to 'Show', block %></td>
        <td><%= link_to 'Edit', edit_block_path(block) %></td>
        <td><%= link_to 'Destroy', block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
